* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1246px; /* tamanho do GRID + padding (15x2) = (1216 + 30 = 1246) */
  margin: 0 auto; /* centraliza o GRID */
  padding: 0px 15px; /* importante para mobile, cria uma "respiro" nas bordas */
}